.about-us {
  margin: 0 auto; /* Center the container */
}

.get-app3,
.locer4 {
  position: relative;
  display: inline-block;
}
.locer4 {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
  min-width: 61px;
  white-space: nowrap;
}
.get-app3 {
  font-size: var(--font-size-xl);
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  min-width: 82px;
}

.custom-home:hover,.custom-bus:hover{
  text-decoration: underline;
}

.button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-32xl);
  background-color: var(--color-midnightblue-100);
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button3:hover,
.button4:hover {
  background-color: var(--color-darkslateblue-100);
}
.home3 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 60px;
}
.line-div {
  width: 2px;
  height: 1px;
  position: absolute;
  margin: 0 !important;
  top: 35.5px;
  left: -1px;
  border-top: 1px solid var(--color-red);
  box-sizing: border-box;
  opacity: 0;
}
.home4,
.tags3 {
  position: relative;
}
.tags3 {
  height: 38px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-12xs) 0;
  box-sizing: border-box;
  gap: var(--gap-11xs);
}
.home4 {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  min-width: 87px;
}
.tags-child2,
.tags4 {
  position: relative;
  box-sizing: border-box;
}
.tags4 {
  height: 38px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-12xs) 0;
  gap: var(--gap-11xs);
}
.tags-child2 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--color-mediumseagreen-100);
}
.header1,
.menu-tags1,
.tags5 {
  display: flex;
  align-items: center;
}
.tags5 {
  width: 70px;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-10xs);
  box-sizing: border-box;
  gap: var(--gap-11xs);
}
.header1,
.menu-tags1 {
  flex-direction: row;
}
.menu-tags1 {
  width: 285px;
  margin: 0 !important;
  position: absolute;
  top: 18px;
  left: 889px;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.header1 {
  margin-right: -81px;
  width: 1441px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-21xl) var(--padding-4xs)
    var(--padding-61xl);
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 106%;
  flex-shrink: 0;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-mediumseagreen-100);
  font-family: var(--font-poppins);
}
.shop-closer-at {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.at-locer-we {
  width: 395px;
  height: 190px;
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.frame-div,
.shop-closer-at-locer-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.shop-closer-at-locer-parent {
  align-self: stretch;
  gap: var(--gap-base);
}
.frame-div {
  width: 406px;
  padding: 147px 0 0;
  box-sizing: border-box;
  min-width: 406px;
}
.hero-image-icon {
  height: 560px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 476px;
}
.frame-container {
  width: 1223px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-45xl);
  max-width: 100%;
}
.header-group,
.locer5 {
  font-family: var(--font-poppins);
  text-align: left;
}
.header-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-61xl) 0 0;
  box-sizing: border-box;
  gap: 72px;
  max-width: 100%;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.locer5 {
  width: 1470px;
  position: absolute;
  margin: 0 !important;
  bottom: -149px;
  left: calc(50% - 735px);
  font-size: var(--font-size-559xl-8);
  font-weight: 600;
  color: var(--color-gray-400);
  display: inline-block;
  white-space: nowrap;
  z-index: 2;
}
.get-thousands-of {
  position: relative;
}
.restaurants-description {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 146px var(--padding-2xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.personalized-icon {
  align-self: stretch;
  width: 296px;
  position: relative;
  border-radius: var(--br-3xs);
  max-height: 100%;
  object-fit: cover;
  min-height: 224px;
}
.analytics-description-child {
  height: 224px;
  width: 515px;
  position: relative;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.why-us {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  z-index: 1;
}
.analytics-description,
.personalized-feature {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.analytics-description {
  flex: 1;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  justify-content: center;
  padding: var(--padding-45xl) var(--padding-xl);
  box-sizing: border-box;
  min-width: 289px;
}
.personalized-feature {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.smooth-experience {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.setup-description {
  flex: 1;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-63xl) var(--padding-37xl);
  box-sizing: border-box;
  max-width: 100%;
}
.easy-setup-icon {
  height: 224px;
  width: 296px;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.easy-setup-feature,
.personalized-feature-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.easy-setup-feature {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-13xl);
  font-size: var(--font-size-21xl);
}
.personalized-feature-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-17xl);
}
.charges-feature-child {
  width: 405px;
  height: 484px;
  position: relative;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.understand1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.understand,
.we-understand-the {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.we-understand-the {
  font-size: var(--font-size-base);
  font-weight: 300;
}
.no-charges-description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.charges-feature {
  width: 405px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  flex-direction: column;
  padding: 58px var(--padding-58xl) 48px;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 405px;
  font-size: var(--font-size-xl);
  color: var(--color-mediumseagreen-100);
}
.charges-feature,
.frame-parent1,
.rectangle-container,
.rectangle-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-13xl);
}
.rectangle-container,
.rectangle-parent1 {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  box-sizing: border-box;
}
.rectangle-container {
  width: 405px;
  flex-direction: column;
  padding: var(--padding-31xl) var(--padding-58xl) var(--padding-37xl);
  gap: var(--gap-5xl);
  min-width: 405px;
}
.rectangle-parent1 {
  flex: 1;
  flex-direction: row;
  padding: var(--padding-63xl) var(--padding-44xl) var(--padding-63xl)
    var(--padding-45xl);
}
.frame-child4,
.frame-child5 {
  height: 224px;
  position: relative;
  border-radius: var(--br-3xs);
}
.frame-child4 {
  width: 296px;
  object-fit: cover;
  min-height: 224px;
}
.frame-child5 {
  width: 515px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-mediumseagreen-100);
  display: none;
  max-width: 100%;
}
.start-earning-today2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  z-index: 1;
}
.rectangle-parent3 {
  flex: 1;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumseagreen-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-63xl) var(--padding-32xl);
  box-sizing: border-box;
  min-width: 335px;
  max-width: 100%;
}
.frame-parent3,
.rectangle-parent2 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent2 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-12xl);
  color: var(--color-white);
}
.frame-parent3 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-17xl);
  min-width: 548px;
  font-size: var(--font-size-21xl);
  color: var(--color-midnightblue-100);
}
.frame-parent2 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-13xl);
  font-size: var(--font-size-xl);
  color: var(--color-mediumseagreen-100);
}
.features-grid,
.features-grid-wrapper,
.frame-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.features-grid {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-17xl);
}
.features-grid-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-61xl) var(--padding-108xl);
  box-sizing: border-box;
  text-align: left;
  font-size: 64px;
  color: var(--color-midnightblue-100);
  font-family: var(--font-poppins);
}
.frame-child6 {
  width: 1440px;
  height: 515px;
  position: relative;
  background-color: var(--color-seagreen);
  display: none;
  max-width: 100%;
}
.get-app4 {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 36px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 98px;
}
.button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-52xl);
  background-color: var(--color-midnightblue-100);
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 3;
}
.we-develop-platform1 {
  margin: 0;
}
.we-develop-platform-container1 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.mingcutelinkedin-fill-icon1,
.pajamasx-icon1 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.pajamasx-icon1 {
  width: 21px;
  height: 21px;
}
.pajamas-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
}
.mingcutelinkedin-fill-parent,
.store-types-description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi-4);
}
.store-types-description {
  width: 400px;
  flex-direction: column;
  gap: var(--gap-smi);
  max-width: 100%;
}
.contact-icon1 {
  width: 188px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.contactlocerin1 {
  position: relative;
  line-height: 24px;
  font-weight: 300;
  white-space: nowrap;
  z-index: 1;
}
.contactlocerin-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.contact-content-wrapper,
.contact-content1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-content1 {
  align-self: stretch;
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-43xl);
}
.contact-content-wrapper {
  height: 209px;
  width: 292px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.store-types-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.line-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.store-types-content-parent,
.vector-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.vector-wrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.store-types-content-parent {
  flex-direction: column;
  gap: var(--gap-sm);
}
.terms-of-service1 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 129px;
  z-index: 1;
}
.privacy1 {
  display: inline-block;
  min-width: 57px;
}
.delivery-location1,
.privacy1 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.legal-links1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.locer6 {
  position: relative;
  display: inline-block;
  min-width: 96px;
  z-index: 1;
}
.legal-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.about-us,
.frame-footer,
.legal-content-wrapper {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-10xs) 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.about-us,
.frame-footer {
  flex-direction: column;
}
.frame-footer {
  align-self: stretch;
  background-color: var(--color-seagreen);
  padding: var(--padding-62xl) var(--padding-60xl) var(--padding-17xl)
    var(--padding-61xl);
  box-sizing: border-box;
  gap: 20.5px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.about-us {
  width: 1440px;
  background-color: var(--color-white);
  overflow: hidden;
  position: relative;
  gap: var(--gap-45xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .header-group {
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .charges-feature {
    flex: 1;
  }
  .frame-parent1 {
    flex-wrap: wrap;
  }
  .rectangle-container {
    flex: 1;
  }
  .frame-parent2 {
    flex-wrap: wrap;
  }
  .features-grid-wrapper {
    padding-bottom: var(--padding-64xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .shop-closer-at {
    font-size: var(--font-size-13xl);
  }
  .frame-div {
    flex: 1;
  }
  .frame-container {
    flex-wrap: wrap;
  }
  .locer5 {
    font-size: var(--font-size-213xl);
  }
  .why-us {
    font-size: 51px;
  }
  .smooth-experience,
  .start-earning-today2 {
    font-size: var(--font-size-13xl);
  }
  .legal-content,
  .store-types-content {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .frame-div,
  .hero-image-icon {
    min-width: 100%;
  }
  .frame-container {
    gap: var(--gap-13xl);
  }
  .header-group {
    gap: var(--gap-17xl);
  }
  .personalized-icon {
    flex: 1;
  }
  .personalized-feature {
    flex-wrap: wrap;
  }
  .setup-description {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .easy-setup-icon {
    flex: 1;
  }
  .easy-setup-feature {
    flex-wrap: wrap;
  }
  .personalized-feature-parent {
    min-width: 100%;
  }
  .charges-feature {
    padding-top: var(--padding-19xl);
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .frame-parent1 {
    gap: var(--gap-base);
  }
  .rectangle-container {
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .rectangle-parent1 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .frame-child4 {
    flex: 1;
  }
  .rectangle-parent3 {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .rectangle-parent2 {
    flex-wrap: wrap;
  }
  .frame-parent3 {
    min-width: 100%;
  }
  .frame-parent2 {
    gap: var(--gap-base);
  }
  .features-grid {
    gap: var(--gap-lg);
  }
  .features-grid-wrapper {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    padding-bottom: var(--padding-35xl);
    box-sizing: border-box;
  }
  .legal-links1 {
    flex-wrap: wrap;
  }
  .frame-footer {
    padding: var(--padding-34xl) var(--padding-20xl) var(--padding-4xl)
      var(--padding-21xl);
    box-sizing: border-box;
  }
  .about-us {
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 450px) {
  .header1 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .shop-closer-at {
    font-size: var(--font-size-5xl);
  }
  .at-locer-we {
    font-size: var(--font-size-base);
  }
  .frame-div {
    padding-top: 96px;
    box-sizing: border-box;
  }
  .frame-container {
    gap: var(--gap-base);
  }
  .header-group {
    gap: var(--gap-lg);
  }
  .locer5 {
    font-size: var(--font-size-126xl);
  }
  .get-thousands-of {
    font-size: var(--font-size-base);
  }
  .why-us {
    font-size: var(--font-size-19xl);
  }
  .personalized-feature {
    gap: var(--gap-base);
  }
  .smooth-experience {
    font-size: var(--font-size-5xl);
  }
  .easy-setup-feature {
    gap: var(--gap-base);
  }
  .personalized-feature-parent {
    gap: var(--gap-lg);
  }
  .understand {
    font-size: var(--font-size-base);
  }
  .charges-feature,
  .rectangle-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .start-earning-today2 {
    font-size: var(--font-size-5xl);
  }
  .rectangle-parent2 {
    gap: 15px;
  }
  .frame-parent3 {
    gap: var(--gap-lg);
  }
  .we-develop-platform-container1 {
    font-size: var(--font-size-base);
  }
  .contact-content1 {
    gap: var(--gap-12xl);
  }
  .about-us {
    gap: var(--gap-base);
  }
}
